.container {
  width: 99%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  align-self: center;
  width: 98%;
  height: auto;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.605);
}

.content img {
  width: 90%;
  max-width: 95%;
  height: auto;
  margin: 10px;
  margin-bottom: 40px;
}

.content__text {
  color: var(--dark-red);
  font-size: 18px;
  line-height: 1.5;
  width: 80%;
}

.content__title {
  font-size: 25px;
  font-weight: 700;
  margin: 0 !important;
}

.about-us {
  color: var(--dark-red);
  font-size: 35px;
  margin: 20px;
}

.contact-icon {
  width: 157px;
  height: 157px;
  background: var(--red-gradient);
  position: absolute;
  top: 1946px;
  left: 2267px;
}

/* Media Queries */

/* Extra small devices (phones, less than 600px) */
@media (max-width: 599px) {
  .about-us {
    font-size: 24px;
    top: 280px;
  }

  .content__text,
  .content__title {
    font-size: 16px;
  }

  .contact-icon {
    width: 80px;
    height: 80px;
    top: 1600px;
    left: 1800px;
  }

  .contact-icon img {
    width: 50px;
    height: 50px;
  }
  .whatsapp {
    display: none;
  }
  
  .hamburger-menu a {
    margin-right: 7px;
    margin-left: 0;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .about-us {
    font-size: 28px;
    top: 300px;
  }

  .content__text,
  .content__title {
    font-size: 18px;
  }

  .contact-icon {
    width: 100px;
    height: 100px;
    top: 1700px;
    left: 1900px;
  }

  .contact-icon img {
    width: 60px;
    height: 60px;
  }
  .whatsapp {
    display: none;
  }
  
  .hamburger-menu a {
    margin-right: 7px;
    margin-left: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .about-us {
    font-size: 32px;
    top: 320px;
  }

  .content__text,
  .content__title {
    font-size: 20px;
  }

  .contact-icon {
    width: 120px;
    height: 120px;
    top: 1800px;
    left: 2000px;
  }

  .contact-icon img {
    width: 70px;
    height: 70px;
  }
  .whatsapp {
    display: none;
  }
  
  .hamburger-menu a {
    margin-right: 7px;
    margin-left: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .about-us {
    font-size: 36px;
    top: 340px;
  }

  .content__text,
  .content__title {
    font-size: 22px;
  }

  .contact-icon {
    width: 140px;
    height: 140px;
    top: 1900px;
    left: 2100px;
  }

  .contact-icon img {
    width: 80px;
    height: 80px;
  }
  .whatsapp {
    display: none;
  }
  
  .hamburger-menu a {
    margin-right: 7px;
    margin-left: 0;
  }
}
