.main-section {
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-section__title {
  font-size: 40px;
  color: black;
  padding: 20px;
}

.contact-form {
  background: rgba(255, 255, 255, 0.224);
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  max-width: 90%;
  width: 80%;
  box-shadow: black 0px 0px 3px 2px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form__input-group {
  margin-bottom: 15px;
}

.contact-form__label {
  display: block;
  font-size: 24px;
  color: #680000;
  margin-bottom: 5px;
}

.contact-form__input {
  width: 90%;
  height: 55px;
  border: 1px solid #261515;
  padding: 0 10px;
  font-size: 20px;
  color: #680000;
  border-radius: 50px;
}

.contact-form__button {
  background: #680000;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 15px;
  border-radius: 50px;
  width: 120px;
  align-self: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .contact-form__input {
    height: 45px;
    border-radius: 50px;
  }
  .contact-form {
    width: 100%;
    padding: 10px 25px;
    margin-right: 60px;
    height: 500px;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .main-section__title {
    font-size: 30px;
  }

  .contact-form__label,
  .contact-form__input {
    font-size: 18px;
  }

  .contact-form__button {
    font-size: 18px;
  }

  .contact-form__input {
    height: 45px;
    border-radius: 50px;
  }

  .contact-form {
    width: 100%;
    padding: 10px 25px;
    margin-right: 60px;
    height: 500px;
    align-self: center;
  }
}
