main {
  height: 75vh;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 60%;
  height: 500px;
  background: var(--red-gradient);
  display: flex;
  align-items: center;
  flex-direction: column;
}

section h2 {
  font-size: 20px;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

form input {
  padding: 10px;
  width: 300px;
  font-size: 14px;
}

form input:focus {
  outline: none;
}

form textarea {
  min-width: 600px;
  min-height: 200px;
  padding: 10px;
}

form textarea:focus {
  outline: none;
}

form button[type="submit"] {
  border: none;
  background-color: white;
  color: var(--red-gradient);
  padding: 12px 8px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  main {
    margin-top: 60px;
    flex-direction: column;
  }

  section {
    width: 98%;
    height: 400px;
  }

  section h2 {
    font-size: 16px;
  }

  form {
    width: 100%;
    padding: 0px;
    gap: 10px;
  }

  form input {
    width: 95%;
    padding: 10px 2px;
  }

  form textarea {
    min-width: 95%;
    min-height: 160px;
    padding: 5px;
    margin-bottom: 10px;
  }

  form button[type="submit"] {
    padding: 8px 4px;
  }
}
