.index__hero {
  --hero-image-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
}

.index__hero-image {
  width: 100%;
  height: var(--hero-image-height);
  position: relative;
  box-shadow: var(--box-shadow);
}

.section-title {
  font-size: 35px;
  color: var(--dark-red);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

section.intro {
  height: max-content;
  padding: 10px 0;
}

.introContainer img {
  width: 100%;
  height: 900px;
  margin-bottom: 5px;
  background: var(--red-gradient);
}

.introContainer {
  width: 75%;
  height: 100%;
  background: var(--container-bg);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 35px;
  margin: 15px;
  color: var(--dark-red);
}

.introContainer h6 {
  font-size: 30px;
  margin: 10px 0;
  padding: 0;
}

.introContainer p {
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  line-height: 35px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: max-content;
  padding: 0;
  margin: 0;
}

.index__hero-text {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
}

.index__hero-text h1 {
  font-size: 35px;
  font-weight: bold;
}

.index__hero-text p {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.index__hero-image .main-image {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  background-image: url(../images/hero.jpg);
  background-size: cover;
}

.index__hero-logo {
  background: var(--red-gradient);
  padding: 5px 110px;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -120px;
  box-shadow: var(--box-shadow);
  border: 1px solid #1e1e1e;
}

.call-to-action {
  width: 95%;
  box-shadow: var(--box-shadow);
}

.introContainer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 20px;
  color: blue;
}

.index__hero-logo img {
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
}

.index__hero-logo p {
  font-size: 20px;
  text-wrap: nowrap;
}

.body-display-flex {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.services__item--development {
  margin: 0;
  padding: 0;
}

.services__item--marketing {
  margin: 0;
  padding: 0;
}

.services__item--software {
  margin: 0;
  padding: 0;
}

.servicesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 60px;
}

.services__item {
  margin: 0;
  width: 450px;
  height: 700px;
  background: var(--container-bg);
  border: var(--border);
  box-shadow: var(--box-shadow);
  margin-top: 10px;
  position: relative;
}

.services__item img {
  width: 100%;
  height: 420px;
}

.services__item-title {
  color: var(--dark-red);
  font-size: 28px;
  font-weight: 400;
  margin: 20px;
  text-align: center;
}

.services__item-description {
  margin: 0;
  color: var(--dark-red);
  font-size: 15px;
  padding: 10px;
  text-align: center;
  padding-bottom: 50px;
  font-family: Roboto-Regular;
}

/* General Styles */

.read-more {
  font-size: 15px;
  background: var(--dark-red);
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  padding: 15px 20px;
  position: relative;
  top: 14px;
}

.get-started {
  --color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--color);
  border: 1px solid var(--color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* Media Queries */
@media (max-width: 1385px) {
  .services {
    flex-wrap: nowrap;
  }
  .services__item {
    width: 390px;
  }
}

@media (max-width: 985px) {
  .services {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .index__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    --hero-image-height: 310px;
  }

  .index__hero-image .main-image {
    background-size: auto;
  }

  .index__hero-logo {
    bottom: -85px !important;
  }

  .services {
    margin: 0;
    padding: 0;
    align-self: center;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
  }
  .services:first-child {
    margin-top: 55px;
  }

  .index__hero-image {
    height: var(--hero-image-height);
  }

  .services__item:hover {
    background: white;
  }

  .services__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
    margin: 8px;
  }
  .services__item img {
    width: 100%;
    height: 400px;
    align-self: center;
  }

  .services__item-description {
    text-align: center;
    text-wrap: wrap;
    font-size: 15px;
  }

  .index__hero-logo img {
    width: 100px;
    height: 100px;
  }

  .index__hero-logo p {
    font-size: 14px;
    text-align: center;
    font-family: Roboto-Bold;
  }

  .services__item--development {
    margin: 0;
    padding: 0;
    --margin-dev: calc(var(--header-height) - 10px);
    margin-top: var(--margin-dev);
    margin-bottom: var(--margin-dev);
  }

  .services__item--marketing {
    margin: 0;
    padding: 0;
    --margin-dev: calc(var(--header-height) - 10px);
    margin-top: var(--margin-dev);
    margin-bottom: var(--margin-dev);
  }

  .services__item--software {
    margin: 0;
    padding: 0;
    margin-bottom: calc(var(--header-height) + 20px);
  }

  .index__hero-text {
    top: 40px;
    height: 70%;
  }

  .index__hero-text h1 {
    font-size: 20px;
  }

  .index__hero-text p {
    font-size: 16px;
  }

  .call-to-action {
    padding: 10px !important;
  }

  .introContainer {
    width: 95%;
    padding: 5px;
    margin: 5px;
  }

  .introContainer h6 {
    font-size: 20px;
    margin: 15px 0;
  }

  .introContainer p {
    font-size: 15px;
    margin: 5px 0;
    line-height: 32px;
  }
}

@media (max-width: 480px) {
  .index__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    --hero-image-height: 310px;
  }

  .services {
    margin: 0;
    padding: 0;
    align-self: center;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
  }
  .services:first-child {
    margin-top: 55px;
  }

  .index__hero-image {
    height: var(--hero-image-height);
  }

  .services__item:hover {
    background: white;
  }

  .services__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: auto;
    margin: 8px;
  }
  .services__item img {
    width: 100%;
    height: 400px;
    align-self: center;
  }

  .services__item-description {
    text-align: center;
    text-wrap: wrap;
    font-size: 15px;
  }

  .index__hero-logo {
    width: 100px;
    height: 120px;
    padding: 15px 60px;
    bottom: -60px;
  }

  .index__hero-logo img {
    width: 50px;
    height: 50px;
  }

  .index__hero-logo p {
    font-size: 12px;
    text-align: center;
    font-family: Roboto-Bold;
  }

  .call-to-action {
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    font-size: 10px;
    padding: 5px 20px;
  }

  .section-title {
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }

  .introContainer img {
    height: 300px;
    padding: 0;
    margin: 0;
  }

  .index__hero-text p {
    font-size: 12px;
  }

  .services__item--development {
    margin: 0;
    padding: 0;
    --margin-dev: calc(var(--header-height) - 10px);
    margin-top: var(--margin-dev);
    margin-bottom: var(--margin-dev);
  }

  .services__item--marketing {
    margin: 0;
    padding: 0;
    --margin-dev: calc(var(--header-height) - 10px);
    margin-top: var(--margin-dev);
    margin-bottom: var(--margin-dev);
  }

  .services__item--software {
    margin: 0;
    padding: 0;
    margin-bottom: calc(var(--header-height) + 20px);
  }
}
