body {
  margin: 0;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
}

.index__hero {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.index__hero-image {
  width: 100%;
  height: 1000px;
  position: relative;
}

.index__hero-image img {
  width: 100%;
  height: 100%;
}

.index__hero-logo {
  background-color: #680000;
  position: absolute;
  top: 40vh;
  left: 40vw;
  padding: 10px 120px;
  color: white;
  border-radius: 400px;
}

.index__hero-logo p {
  font-size: 20px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
  align-self: center;
}

.services__item {
  width: 300px;
  height: 600px;
  background: white;
  border: 1px black solid;
  border-radius: 15px;
  margin: 20px;
  position: relative;
  box-shadow: black 0px 0px 3px 2px;
  padding: 10px;
}

.services__item img {
  width: 100%;
  height: auto;
}

.services__item-title {
  color: #261515;
  font-size: 28px;
  font-weight: 400;
  margin: 20px;
}

.services__item-description {
  color: #400101;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

.cta {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.cta__box {
  width: 244px;
  height: 66px;
  background: #400101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta__link {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.cta-quote {
  text-align: center;
  margin: 40px 0;
}

.cta-quote__box {
  width: 244px;
  height: 66px;
  background: #400101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-quote__link {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.branding__circle {
  width: 157px;
  height: 157px;
  background: #bf2626;
  border-radius: 9999px;
  margin-right: 20px;
}

.branding__icon {
  width: 90px;
  height: 90px;
}

/* General Styles */
.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main-section {
  padding: 20px;
  text-align: center;
}

.main-section__title {
  font-size: 50px;
  color: #261515;
  margin: 20px 0;
}

.main-section__content {
  background: white;
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
  font-size: 18px;
  color: #400101;
  box-shadow: black 0px 0px 3px 2px;
}

.main-section__button {
  background: #400101;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
}

.footer__section--legal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__section--info {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.footer__section--info .footer__text {
  width: 30%;
  flex-wrap: wrap;
}

/* Media Queries */
@media (max-width: 768px) {
  .main-section__content {
    font-size: 20px;
  }

  .main-section__title {
    font-size: 48px;
  }

  .main-section__button {
    font-size: 20px;
    padding: 8px 16px;
  }


  .index__hero-image {
    height: 500px;
  }

  .index__hero-logo {
    top: 35vh;
    left: 10vw;
    padding: 2px 50px;
    color: white;
    border-radius: 400px;
  }

  .index__hero-logo p {
    font-size: 15px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .main-section__title {
    font-size: 36px;
  }

  .main-section__content {
    font-size: 18px;
  }

  .main-section__button {
    font-size: 18px;
    padding: 6px 12px;
  }
}
