:root {
  /* setting up constants */

  --dark-red: #770505;
  --light-red: rgb(212, 8, 8);
  --body-bg: rgba(250, 250, 250, 1);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --container-bg: rgba(255, 255, 255, 0.861);
  --hamburger-bg: var(--dark-red);
  --header-height: 70px;
  --header-title-font-size: 20px;
  --box-shadow: #00000097 0px 0px 5px;
  --border-radius: 1px;
  --red-gradient: linear-gradient(500deg, #510202, #7f0303, #510202);
  --vibrate-distance: 2px;
  scroll-behavior: smooth;
}

/* fonts */
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

footer.footer img.footerMainImage {
  cursor: pointer;
  height: 200px !important;
}

* {
  font-family: Roboto-Regular;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
}

.header {
  background: var(--red-gradient);
  width: 100%;
  height: var(--header-height);
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
}

.header > a {
  text-decoration: none !important;
}

.open-menu {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: calc(var(--header-height) / 5);
}

.main-container {
  display: flex;
  flex-direction: column;
}

.hamburger-menu {
  display: none;
  background: white;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 75px;
  height: 90vh;
  gap: 15px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.hamburger-menu a:last-child {
  margin-bottom: 15vh;
}

.header__title {
  position: absolute;
  left: 40px;
  top: calc(var(--header-height) / 3);
  color: white;
  font-size: var(--header-title-font-size);
  font-weight: 100;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.nav__item {
  color: white;
  font-size: calc(var(--header-title-font-size) - 5px);
  font-weight: 100;
  margin-left: 20px;
  text-decoration: none;
}

.nav__item:hover {
  text-decoration: none;
}

.footer {
  background: var(--red-gradient);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.footer__section {
  margin: 10px;
  min-width: 200px;
}

.footer__title {
  font-size: 18px;
  font-weight: 700;
}

.footer__text {
  font-size: 14px;
  line-height: 1.5;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
}

.footer__link:hover {
  text-decoration: underline;
}

/* Global Styles */

.footer__contact {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer__contact-item {
  font-size: 24px;
}

.footer__policies-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__section--sm {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__section--sm img {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  border: 2px solid white;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  padding: 5px;
}

.active {
  font-size: 25px;
  font-weight: 900;
  border-radius: 5px;
}
/*  setting up sm preview */
.social-preview {
  position: fixed;
  bottom: 70px;
  right: 70px;
  background-color: white;
  height: 300px;
  width: 350px;
  color: var(--dark-red);
  display: none;
  flex-direction: column;
  align-items: center;
}

.social-preview-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 90%;
}

.online-status {
  background-color: rgb(0, 255, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online-status::after {
  content: "online";
  margin-left: 15px;
  font-size: 12px;
}

.time {
  color: var(--dark-red);
  font-size: 12px;
}

.profile-pic {
  background: url("../images/software-2.jpg");
  width: 95px;
  height: 95px;
  background-size: cover;
  border-radius: 50%;
  background-color: var(--dark-red);
}

.message-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: center;
}

.message-preview a {
  text-decoration: none;
  padding: 10px 8px;
  background-color: var(--dark-red);
  margin: 2px;
  color: white;
  border-radius: 5px;
}

.close-btn {
  background-color: var(--dark-red);
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.whatsapp {
  --side: 40px;
  width: var(--side);
  height: var(--side);
  border-radius: 50%;
  background: rgb(0, 255, 0);
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.whatsapp-logo {
  height: 80%;
  width: 80%;
  background: url("../images/whatsapp.svg");
}

.loading {
  width: 30px;
  height: 30px;
  border: 3px solid lightgray;
  border-top: 3px solid rgb(0, 148, 254);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.call-to-action {
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 10px 5px;
  border: 1px solid white;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  :root {
    --body-bg: white;
  }

  .nav {
    display: none;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__title {
    font-size: 19px;
  }

  .header__title {
    position: relative;
    left: -40px;
  }

  .open-menu {
    display: flex;
  }

  .header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer__section--contact {
    margin-left: 18vw;
  }

  .nav__item {
    font-size: 15px !important;
    font-weight: 500;
    color: var(--dark-red);
  }

  .close-btn {
    top: 15px;
    right: 25px;
  }

  .social-preview {
    width: 330px;
    padding: 15px;
    bottom: 100px;
    right: 10px;
  }

  .whatsapp {
    --side: 40px;
    bottom: 20px;
    right: 20px;
  }

  .loading {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 480px) {
  :root {
    --body-bg: white;
  }

  .nav {
    display: none;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__title {
    font-size: 19px;
  }

  .header__title {
    position: relative;
    left: -40px;
  }

  .open-menu {
    display: flex;
  }

  .header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer__section--contact {
    margin-left: 18vw;
  }
  .nav__item {
    font-size: 30px;
    font-weight: 500;
  }
  .social-preview {
    width: 330px;
    padding: 15px;
    bottom: 100px;
    right: 10px;
  }

  .loading {
    width: 16px;
    height: 16px;
  }
}

/* animations */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.roll-in-blurred-left {
  --animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
  -webkit-animation: var(--animation);
  animation: var(--animation);
}

a.approach {
  margin: 0 2px !important;
  padding: 0 !important;
  color: rgb(0, 208, 255) !important;
}
