.main {
  background: var(--container-bg);
  border: var(--border);
  margin: 10px;
  position: relative;
  top: var(--header-height);
  width: 95%;
  align-self: center;
  margin-bottom: var(--header-height);
}

.privacy-policy {
  background: white;
  padding: 15px;
}

.privacy-policy__title {
  color: black;
  font-size: 25px;
  font-weight: 400;
  line-height: 22.5px;
  letter-spacing: 0.4px;
  text-align: center;
}

.privacy-policy__content {
  color: var(--dark-red);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-wrap: wrap;
}

.privacy-policy__link {
  color: var(--dark-red);
  text-decoration: underline;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
