.main-section {
  width: 100%;
  height: max-content;
  padding: 20px 0px;
}

.projectWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.project {
  padding: 5px;
  border: 1px solid #1e1e1e;
  margin: 0;
  width: 500px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.project-preview {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.509);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.previewWrapper {
  background: var(--red-gradient) ;
  color: white;
  width: 900px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 120px;
}

.previewText {
  display: flex;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.previewNote {
  font-size: 14px;
  color: rgb(0, 179, 255);
}

.previewNote a.previewNoteLink{
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: rgb(0, 255, 0);
}


.hiddenText {
  display: none;
}

.previewText a {
  text-decoration: none;
  background-color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

.previewImage {
  height: 500px;
  width: 820px;
}

.previewWrapper .close {
  top: 5px;
  right: 10px;
  position: absolute;
  font-size: 50px;
  cursor: pointer;
}

.projectTextWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projectImg {
  width: 100%;
  height: auto;
}

.main-section-title {
  font-size: 25px;
  color: var(--dark-red);
  text-align: center;
}
