.main-section {
  width: 100%;
  height: max-content;
  padding: 20px 0px;
}

.projectWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.project {
  padding: 5px;
  border: 1px solid #1e1e1e;
  margin: 0;
  width: 500px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.project-preview {
  display: none;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.509);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.previewWrapper {
  background: var(--dark-red);
  color: white;
  width: 900px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 120px;
  gap: 20px;
}

.previewText {
  display: flex;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-size: 15px;
}

.previewNote {
  font-size: 14px;
  color: rgb(0, 179, 255);
  text-transform: capitalize;
}

.previewNote a.previewNoteLink {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: rgb(0, 255, 0);
}

.hiddenText {
  display: none;
}

.previewText a {
  text-decoration: none;
  background-color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}

.previewImage {
  height: 900px;
  width: 100%;
}

.previewWrapper .close {
  top: 5px;
  right: 10px;
  position: absolute;
  font-size: 50px;
  cursor: pointer;
}

.projectTextWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projectImg {
  width: 100%;
  height: 1200px !important;
}

.main-section-title {
  font-size: 25px;
  color: var(--dark-red);
  text-align: center;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.runPreviewWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.runPreview {
  margin: 10px;
  border: 1px solid var(--dark-red);
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--dark-red);
  width: 100px;
  color: white;
}

.procedure {
  width: 96%;
  height: max-content;
  padding: 5px;
}

.procedureWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.procedureWrapper .procedure-item {
  width: 650px;
  height: 750px;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #1e1e1e;
  box-shadow: var(--box-shadow);
}

.procedureWrapper .procedure-item img {
  width: 100%;
  height: 550px;
}

.procedureWrapper .procedure-item .desc {
  font-size: 14px;
  line-height: 24px;
}

.procedureDescWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.procedureDesc {
  width: 70%;
  text-align: center;
}

.downloadable {
  text-decoration: none;
  padding: 8px 20px;
  border: 1px solid black;
  color: white;
  background-color: var(--dark-red);
  border-radius: 5px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .main-section {
    padding: 0;
    overflow: hidden;
  }

  .projectWrapper {
    gap: 10px;
    flex-direction: column;
  }

  .project {
    padding: 15px;
    width: 90%;
    height: 550px;
  }

  .previewWrapper {
    width: 90%;
    height: 500px;
    padding: 10px;
    top: 90px;
    gap: 10px;
    position: relative;
  }

  .previewText {
    font-size: 12px;
  }

  .previewNote {
    font-size: 12px;
  }

  .previewImage {
    height: 200px;
  }

  .previewWrapper .close {
    top: -10px;
    font-size: 50px;
    color: red;
    font-weight: bold;
  }

  .main-section-title {
    font-size: 20px;
  }

  .procedureWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .procedureWrapper .procedure-item {
    width: 100%;
    padding-bottom: 0;
  }

  .procedureWrapper .procedure-item img {
    height: 450px;
  }

  .procedureWrapper .procedure-item .desc {
    font-size: 14px;
    line-height: 24px;
  }

  .downloadable {
    padding: 5px 10px;
    font-size: 14px;
  }

  .procedureDescWrapper {
    width: 90%;
    padding: 20px;
  }

  .procedureDesc {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
}
