/* Main Content */
.main {
  background: transparent;
  border: var(--border);
  box-shadow: var(--box-shadow);
  --margin: 70px;
  margin: var(--margin);
  position: relative;
  top: var(--header-height);
  width: 70%;
  align-self: center;
  margin-bottom: calc(var(--header-height) + var(--margin));
  border-radius: var(--border-radius);
  color: white;
  left: 65px;
}

.main-content {
  --font-size: 15px;
  background: var(--red-gradient);
  padding: 35px;
  text-align: center;
  font-size: var(--font-size);
  line-height: 1.5;
}

.main-content__intro {
  width: 1985px;
  height: 279px;
  background: var(--red-gradient);
  margin-bottom: 20px;
}

.intro__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  padding: 20px;
}

/* Details Section */
.main-content__details {
  width: 1981px;
  height: 1562px;
  background: var(--container-bg);
  padding: 20px;
}

.details__content {
  width: 1836px;
  height: 1487px;
  color: var(--dark-red);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.details__content span {
  text-decoration: underline;
}

.terms__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.terms__title {
  font-size: 25px;
  text-align: center;
}

.terms__section-title {
  font-size: 18px;
}

.terms__text,
.terms__intro {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
    --font-size: 10px;
    left: -5px;
  }

  .privacy-policy__title {
    font-size: calc(var(--font-size) * 2);
  }

  .privacy-policy__content h4 {
    font-size: calc(var(--font-size) + 5px);
    text-decoration: underline;
    text-wrap: nowrap;
  }

  .privacy-policy__content {
    font-weight: 400;
  }
}

@media (max-width: 480px) {
  .main {
    width: 90%;
    --font-size: 10px;
    left: -5px;
  }

  .privacy-policy__title {
    font-size: calc(var(--font-size) * 2);
  }

  .privacy-policy__content h4 {
    font-size: calc(var(--font-size) + 5px);
    text-decoration: underline;
    text-wrap: nowrap;
  }

  .privacy-policy__content {
    font-weight: 400;
  }
}
