/* Main Content */
.main-content {
  padding: 10px;
  margin: 15px;
  width: 85%;
  align-self: center;
  justify-self: center;
  position: relative;
  top: var(--header-height);
  margin-bottom:calc(var(--header-height) + 5px) ;
  border: var(--border);
  background-color: var(--container-bg);
}

.main-content__intro {
  width: 1985px;
  height: 279px;
  background: var(--dark-red);
  margin-bottom: 20px;
}

.intro__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  padding: 20px;
}

/* Details Section */
.main-content__details {
  width: 1981px;
  height: 1562px;
  background: var(--container-bg);
  padding: 20px;
}

.details__content {
  width: 1836px;
  height: 1487px;
  color: var(--dark-red);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.details__content span {
  text-decoration: underline;
}

/* Placeholder Image */
.placeholder-image {
  width: 90px;
  height: 90px;
  position: absolute;
}
.placeholder-image--large {
  width: 157px;
  height: 157px;
  background: #bf2626;
  border-radius: 50%;
  position: absolute;
}

.placeholder-image--large img {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 33px; /* Adjust as necessary to center the image */
  top: 33px; /* Adjust as necessary to center the image */
}

.terms__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.terms__title {
  font-size: 25px;
  text-align: center;
}

.terms__section-title {
  font-size: 18px;
}

.terms__text,
.terms__intro {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
